.app-sidebar__user-avatar{
    width: 48px;
    background: gray;
    padding: 6px;
}

.btn-link{
    color: #ef9a00;
    font-size: 31px;
    
}

.btn-link:hover{
    color: #ca5d00;
}

.btn-primary{
    border-color: #ca5d00;
    background-color: #ca5d00;
    
}

.btn-primary:hover{
    border-color: #9b4901;
    background-color: #9b4901;
}

.page-link{
    color: #eb6d00;
}

.page-item.active .page-link {
    background-color: #e06a02;
    border-color: #9b4901;
}

.page-link:hover {
    color: #853e00;
}