body {
  background-color: #d3d3d3; }

.btntogle {
background-color: #f69232;
}

.c-b {
  background: #212529; 
}

.c-b li > a {
  color: aliceblue;
}

.jumbotron {
  background-color: #000000;
  padding: 0%;
  margin-top: 41px;
  box-shadow: -3px 7px 5px -2px rgba(0, 0, 0, 0.53); }

.jumbotron div > h5 {
  color: #db4206;
  font-size: 2em;
  
}

.jumbotron div > p {
  color: #ddce00;
  font-size: 20px;
}

.jumbotron-c {
  width: 60%;
  margin-top: 19px;
  margin-bottom: 33px;
  color: #e6e6fa; 
  
  }

.jumbotron-c nav ol {
  background: #b3aeae;
  padding: 13px 9px;
  font-size: 22px;
  box-shadow: -3px 7px 5px -2px rgba(0, 0, 0, 0.53); }

.jumbotron-c nav ol li {
  color: #5c2900;
  padding-left: 10%;
}


.jumbotron-c .cl a {
  color: #c56c06; }

.jumbotron-c h1 {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px; }

.jumbotron-c div > input {
  border-color: #057770;
  background: #3e454c;
  color: #e6e6fa; }

.jumbotron-c div > select {
  border-color: #057770;
  background: #3e454c;
  color: #e6e6fa; }

.jumbotron-c div .icon-c > div {
  background: #057770;
  border-color: #06b3b3;
  color: #e6e6fa; }

.jumbotron-c div .icon-m > div {
  margin: 4px 0px;
  background: #057770;
  border-color: #06b3b3;
  color: #e6e6fa; }

.jumbotron-c div > textarea {
  border-color: #057770;
  background: #3e454c;
  color: #e6e6fa; }

.ul-c li a {
  color: #057770; }

.mg1 {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 6%; }

.crd {
  flex: 1 150px;
  justify-content: space-between;
  background: #d2d2d2da;
  box-shadow: 8px 8px 4px -5px rgba(0, 0, 0, 0.59);
  width: 18rem;
  height: 100%; }

.crd-e {
  margin-top: 15px;
  margin-bottom: 0; }

.crd-e label h3 {
  color: #e6e6fa; }

.crd-e > textarea {
  border-color: #06b3b3;
  background: #3e454c;
  color: #e6e6fa;
  margin-top: 10;
  margin-bottom: 0px; }

.crd-e input {
  border-color: #057770;
  background: #3e454c;
  color: #e6e6fa; }

.btn-go {
  width: 100%;
  background: #ca7000; }

.btn-c {
  width: 40%;
  background: #a76004;
  margin: 10px;
  border-color: #06b3b3;
  margin-top: 0;
  margin-bottom: 30px; }

.btn-p {
  width: 210px;
  background: #0080807a;
  border: none;
  margin-top: 0;
  margin-bottom: 1px; }

.btn-r {
  width: 100%;
  margin-left: 10%; }

.btn-ac {
  background: #057770; }

.t-m {
  text-align: center; }

.m-c {
  background: #081913;
  color: #e6e6fa; }

.md-c > input {
  border-color: #057770;
  background: #081913;
  color: #e6e6fa; }

.md-c > textarea {
  border-color: #057770;
  background: #081913;
  color: #e6e6fa; }

.mc-b {
  background: #057770; }

.mg-b1 {
  margin-top: 0;
  margin-bottom: 40px; }

.stars-c tr td > span {
  color: #d4bf03; }

.stars-c tr td > button {
  background: #057770;
  border-color: #06b3b3; }

.colpse-c {
  color: #e6e6fa;
  text-align: center; }

.colpse-c div p {
  background: #0080807a; }

.prs {
  margin: 2% 0 2% 0; }

.hr-c {
  background: #e6e6fa; }

footer {
  height: 200px;
  padding: 11px 10px 0 10px;
  background-color: #3e4a57;
  margin-bottom: 0px;
  box-shadow: 0px 9px 13px -5px rgba(0, 0, 0, 0.59); }

footer .rds {
  width: 100%; }

footer .redes a {
  text-decoration: none;
  font-size: 145%;
  color: #ca6f06; }

footer .redes a i {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 150%; }

footer .redes a:hover {
  color: #d4bf03;
  font-size: 1.6em; }

footer .tm-1 {
  font-size: 50px; }

.autor {
  text-align: center;
  width: 100%;
  color: #818181; }
